<div class="contact-form-wrapper">
    <div class="row text-center">
        <h3 class="contact-heading">تواصل معنا</h3>
    </div>
    
    <form class="contact-form" id="contact-form" method="POST" action="">
        <div class="form-row mb-5">
          <div class=" col-md-6 mb-3">
            <input type="email" class="contact-field form-control" name="inputEmail" id="inputEmail" placeholder="البريد الإلكتروني">
          </div>
          <div class="contact-field col-md-6">
            <input type="text" class="contact-field form-control" name="inputname" id="inputname" placeholder="الإسم">
          </div>
        </div>
        <div class="form-row">
            <textarea class="contact-text-field form-control" name="message" id="message" rows="3" placeholder="رسالتك"></textarea>
        </div>
        <div class="form-row">
            <button type="submit" class="btn btn-send ">ارسال</button>
        </div>
    </form>    
</div>