<div class="">
   
<ngb-carousel>
  
  <ng-template ngbSlide *ngFor="let image of images">
    <div class="wrapper">
      <img [src]="image.src" alt="slider image">
    </div>
    <div class="carousel-caption">
      <h2 class="innosoft-heading">{{ image.title }}</h2>
      <p class="innosoft-sub-heading">{{ image.short }}</p>
      <a class="innosoft-link" href="#" ><button class="btn btn-primary btn-link">{{image.link}}</button></a>
      
    </div>
  </ng-template>
</ngb-carousel>
    
</div>


