/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('http://fonts.cdnfonts.com/css/frutiger-lt-arabic');

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Frutiger LT Arabic', sans-serif;  
    color: #595959;
}
.carousel-indicators {
    bottom: 160px !important;
}
.carousel-indicators .active {
    background-color: #009ee2;
}

.carousel-indicators li{
    background-color: #D8D8D8;
    opacity: 0.7;
}
.achievement-carousel .carousel-indicators {
        bottom: -92px !important;
}
.achievement-carousel .carousel-control-next,.carousel-control-prev{
    display: none;
}

.community-slider-wrapper .carousel-indicators{
    bottom: -92px !important;
}
