<footer class="main-footer text-center">
    <div class="row">
        <div class="col icons">
            <img class="footer-icon" src="../../../assets/images/facebook-icon.svg">
            <img class="footer-icon" src="../../../assets/images/facebook-icon.svg">
            <img class="footer-icon" src="../../../assets/images/facebook-icon.svg">
        </div>
        <div class="col">
            <p>سياسة الخصوصية | الشروط و الأحكام</p>
        </div>
        <div class="col">
            <p>جميع الحقوق محفوظة – انوسوفت &copy; 2021</p>
        </div>
    </div>
</footer>